/* Header */
#header {
  background-color: var(--primary-color);
  height: 7rem;
  top: 0;
  /* position: relative; */
}

.header__grid {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  /* position: absolute; */
  height: 100%;
  align-items: center;
  display: flex;
  width: 17rem;
  margin-right: 1.3rem;
}

.header__call {
  display: flex;
  align-items: center;
  margin: 0 1.3rem;
}

.header__call-logo {
  color: var(--white-color);
  font-size: 1.8rem;
  margin-right: 1rem;
}

.header__call-info {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__call-info-phone-number {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 700;
}

.header__call-info-text {
  margin: 0;
}

.header__search {
  height: 4rem;
  width: 44rem;
  display: flex;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 1.3rem;
}

.header__search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.header__search-icon {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  padding: 0 1rem;
}

/* Header Location */
.header__location {
  background-color: rgb(33, 137, 206);
  height: 4rem;
  width: 13rem;
  margin: 0 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header__location-text {
  color: var(--white-color);
  font-size: 1.1rem;
}

.header__location-select {
  display: flex;
  cursor: pointer;
  /* width: 100%; */
  align-items: center;
}

.header__location-select-primary {
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 1rem;
  color: var(--white-color);
  font-weight: 700;
}

.header__location-icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

.header__location-modal {
  background-color: var(--white-color);
  position: absolute;
  top: 90%;
  z-index: 1;
  min-width: 13rem;
  border-radius: 0.5rem;
  list-style: none;
  overflow: hidden;
  display: none;
  padding: 0;
  animation: fadeIn linear 0.1s;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.header__location-modal-select {
  text-decoration: none;
  font-size: 1.3rem;
  width: 80%;
  height: 100%;
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 0.6rem auto;
  border-bottom: 0.1rem solid var(--border-color);
  cursor: pointer;
}

.header__location:hover .header__location-modal {
  display: block;
}

.header__location::after {
  content: "";
  position: absolute;
  top: 98%;
  width: 100%;
  height: 1rem;
  cursor: pointer;
}

/* Header Cart */
.header__cart {
  display: flex;
  margin: 0 1.3rem;
  border: 0.1rem solid var(--white-color);
  border-radius: 0.5rem;
  color: var(--white-color);
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.header__cart:hover {
  background-color: rgb(33, 137, 206);
}

/* Body */
#body {
  background-color: #f3f3f3;
}

.grid--padding {
  padding-top: 0.7rem;
  /* padding-bottom: 0.7rem; */
}

/* Sidebar Header */
.body__sidebar-header {
  /* width: 100%; */
  height: 3.4rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white-color);
  font-size: 1.4rem;
  cursor: pointer;
}

.body__sidebar-header-icon {
  font-size: 2rem;
}

.body__sidebar-header-text {
  font-weight: 500;
  margin-left: -0.7rem;
}

.body__sidebar-list {
  list-style: none;
  padding: 0;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  margin-top: 0.7rem;
}

.body__sidebar-item {
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
}

.body__sidebar-item a {
  text-decoration: none;
  color: var(--text-color);
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.body__sidebar-item-icon {
  font-size: 2rem;
  margin: 0 1.4rem;
  font-weight: 300;
}

.body__sidebar-item-text {
  font-weight: 500;
}

.body__sidebar-item:last-child .body__sidebar-item-icon {
  font-size: 1.6rem;
}

.body__sidebar-item:first-child .body__sidebar-item-text {
  margin-left: 0.7rem;
}

.body__sidebar-item:last-child .body__sidebar-item-text {
  margin-left: 0.5rem;
}

.body__sidebar-item:first-child {
  padding-top: 1rem;
}

.body__sidebar-item:last-child {
  padding-bottom: 1rem;
}

.body__sidebar-phone-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.body__sidebar-phone-item {
  display: flex;
  align-items: center;
  height: 3.2rem;
  cursor: pointer;
}

.body__sidebar-phone-item i {
  padding-left: 5rem;
  margin-right: 1rem;
}

.body__sidebar-phone-item a {
  width: 100%;
  height: 100%;
}

.body__sidebar-item a:hover,
.body__sidebar-phone-item a:hover {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  animation: changeColorText linear 0.4s;
  color: var(--white-color);
}

/* Animation for Sidebar item */
@keyframes changeColorText {
  from {
    color: var(--text-color);
  }
  to {
    color: var(--white-color);
  }
}

.body__hot-product {
  background-color: var(--white-color);
  border-radius: 0.5rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.body__hot-product-text {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0 1rem;
  font-weight: 500;
}

.body__hot-product-item {
  padding: 0 1rem;
  font-size: 1.3rem;
  border-right: 0.1rem solid var(--border-color);
}

.body__hot-product-item a {
  color: var(--text-color);
  text-decoration: none;
}

.body__hot-product-item a:hover {
  text-decoration: underline;
}

.body__hot-product-item:last-child {
  border: none;
}

/* products List */

/* Slider */
.slider {
  position: relative;
  max-width: 100rem;
}

.slider__prev-btn,
.slider__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  background-color: rgba(211, 206, 206, 0.8);
  box-shadow: 0 0.7rem 2.9rem 0 rgba(100, 100, 111, 0.2);
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
  border: none;
  /* display: none; */
  animation: appearedButton ease-in 0.3s;
}

.slider__next-btn {
  right: 1rem;
}

.slider__prev-btn {
  left: 1rem;
}

/* .slider:hover .slider__next-btn,
.slider:hover .slider__prev-btn {
  display: block;
} */

/* Animation for Next Button and Prev Button */
@keyframes appearedButton {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

.slider__dots {
  position: absolute;
  left: 50%;
  top: 58%;
  list-style: none;
  transform: translateX(-50%);
  bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 0;
}

.slider__dot-item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: #999;
  cursor: pointer;
  transition: background-color linear 0.25s;
}

.slider__dot-item.active {
  background-color: var(--primary-color);
}

.btn--hover:hover {
  background-color: var(--primary-color);
}

.slider__wrapper {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.slider__main {
  display: flex;
  position: relative;
  transition: transform linear 0.25s;
  height: 100%;
}

.slider__item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}

.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Slider Footer Info */
.slider-footer__info {
  display: flex;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.slider-footer__info-item {
  width: 25%;
  height: 9rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.1rem solid var(--border-color);
}

.slider-footer__info-item.border--actived {
  border-bottom: 0.3rem solid var(--primary-color);
  font-weight: 500;
}

.slider-footer__info-item:last-child {
  border-right: none;
}

.slider-footer__info-item span {
  display: block;
  font-size: 1.4rem;
}

/* Footer */
#footer {
  background-color: #a19f9f;
  width: 100%;
}

.footer-heading {
  text-transform: uppercase;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list__item {
  margin: 0.8rem 0;
}

.footer-list__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white-color);
}

.footer-list__item a:hover {
  color: var(--primary-color);
}

.footer-list__item span {
  display: block;
}

.footer-list__item-text {
  font-size: 1.4rem;
}

.footer-list__item-phone-number {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2980b9;
}

.footer-list__item-time {
  font-size: 1.2rem;
}

.grid__column-footer h2 {
  margin-top: 2rem;
}
